/* глобальные значения */
:root{
  --primary: #929DBE;
  --secondary: #727297;
  --lines-elem: #645F5D;
  --lines-elem-sec: #8f8784;
  --inputs: #BABC9C;
  --inputs-valid:  #6DA284;
  --inputs-notvalid:  #B79D9D;
  --font-color-def: black;
  --radius-def: 3px;
  --radius-table: 5px;
  --table-line-inner: 1px;
  --table-line-outer: 3px;
}

/* основной стиль */
*, .primary {
  background-color: var(--primary);
  align-items: center;
  /* align-content: center; */
  text-align: center;
  vertical-align: middle;
  margin: 2px;
}

/* элементы */
.elements, button {
  background-color: var(--secondary);
  border-color: var(--lines-elem);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--radius-def);
}

input, select, option{
  background-color: var(--inputs);
  border-color: var(--lines-elem);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--radius-def);
}

select{
  appearance: none;
}

.inputValid{
  background-color: var(--inputs-valid);
}

.inputNotValid{
  background-color: var(--inputs-notvalid);
}

/* компонент таблица */
.tableForm {
  align-items: center;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0px;
  /* border-style: solid; */
  /* border-width: 1px; */
  
  /* border-collapse: collapse; */
  /* border-color: var(--lines-elem); */
  /* border: solid; */
  
}

/* внутренние границы */
.tableForm td{
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: var(--table-line-inner); 
  border-color: var(--lines-elem-sec);
}

/* внешние границы верх */
.tableForm tr:first-child td{
  border-top-style: solid;
  border-top-width: var(--table-line-outer);
  border-color: var(--lines-elem-sec);
}

/* внешние границы слева */
.tableForm tr td:first-child{
  border-left-style: solid;
  border-left-width: var(--table-line-outer);
  border-color: var(--lines-elem-sec);
}

/* внешние границы низ */
.tableForm tr:last-child td{
  border-bottom-style: solid;
  border-bottom-width: var(--table-line-outer);
  border-color: var(--lines-elem-sec);
}

/* внешние справа */
.tableForm tr td:last-child{
  border-right-style: solid;
  border-right-width: var(--table-line-outer);
  border-color: var(--lines-elem-sec);
}

/* углы таблицы */
.tableForm tr:first-child td:first-child{
  border-radius: var(--radius-table) 0 0 0;
}

.tableForm tr:first-child td:last-child{
  border-radius: 0 var(--radius-table) 0 0;
}

.tableForm tr:last-child td:first-child{
  border-radius: 0 0 0 var(--radius-table);
}

.tableForm tr:last-child td:last-child{
  border-radius: 0 0 var(--radius-table) 0;
}
/* конец компонента таблица */

/* если запрещенное поле не должно выделяться шрифтом */
.noDisable:disabled{
  color: var(--font-color-def);
}

/* для правильных переносов, свой класс для блоков */
.inlineBlock {
  display: inline-block;
  text-align: center;
}

/* стиль для формы-индикатора загрузки данных */
.loadingForm_background {
  margin: 0; /* убираем отступы */
  padding: 0; /* убираем отступы */
  position: fixed; /* фиксируем положение */
  top:0; /* растягиваем блок по всему экрану */
  bottom:0;
  left:0;
  right:0;
  background: rgba(0,0,0,0.5); /* полупрозрачный цвет фона */
  z-index:100; /* выводим фон поверх всех слоев на странице браузера */
  display: flex;
}

.loadingForm_body {
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}